:root {
    --principal-one: #FFFCEF;
    --secon-one: #D2EBCD;
    --third-one: #FF7F5B;
    --four-one: #393939;
  }
  
  body {
    margin: 0 auto;
    max-height: 100vh;
    color: var(--secon-one); 
    background-color: var(--four-one);
  }
  
  .helink{
    color: var(--third-one);
  }

  .helink:hover{
    color: var(--principal-one);
}
  
  .botonlink{
    color: var(--secon-one);
    background-color: var(--third-one);
    border-color: var(--third-one);
  }
  
  .mainCenter {
    margin: 0 auto;
    padding-top: 10%;
    padding-bottom: 8%;
    max-width: 60%;
  }

  .modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: var(--secon-one);
    margin: auto;
    padding: 20px;
    border: 1px solid var(--third-one);
    width: 80%;
    color: var(--four-one);
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  
  
  /* zona responsive */
  
  @media (max-width: 768px) {
    .mainCenter {
      max-width: 80%;
      padding-top: 20%;
    }
  
    header .inner {
      flex-direction: column;
      align-items: center;
    }
  }
  
  @media (max-width: 576px) {
    .mainCenter {
      max-width: 90%;
      padding-top: 30%;
    }
  }
  
  
  