body {
    margin: 0;
    padding: 0;
    background: url(./img/Barrios-de-Venecia.jpg) center/cover no-repeat fixed;
}

.a{
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

header {
    background-color: #fff;
}

.contenido{
    background-color: #fff;
}

footer {
    background-color: #fff;
    text-decoration: none;
}

footer .fab {
    transition: color 0.3s;
}

footer .list-unstyled li {
    margin-bottom: 10px;
}

footer .text-uppercase {
    font-weight: bold;
}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
}