body {
    margin: 0;
    padding: 0;
    background: url(./img/Barrios-de-Venecia.jpg) center/cover no-repeat fixed;
}

.a{
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

header {
    background-color: #fff;
}

footer {
    background-color: #fff;
    text-decoration: none;
}