body {
    margin: 0;
    padding: 0;
    background: url(./img/Barrios-de-Venecia.jpg) center/cover no-repeat fixed;
}

header {
    background-color: #fff;
}

.content {
    background-color: aliceblue;
}

.hero-section {
    background: url(./img/Barrios-de-Venecia.jpg) center/cover no-repeat;
    height: 100vh;
    position: relative;
}

footer {
    background-color: #fff;
    text-decoration: none;
}

.content {
    padding: 20px;
}

@media (max-width: 768px) {
    .featurette-heading {
        font-size: 1.8rem;
        margin-bottom: 15px;
    }
    
    .lead {
        font-size: 1rem;
        line-height: 1.6;
        margin-bottom: 20px;
    }

    img.img-fluid {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
