body {
    margin: 0;
    padding: 0;
    background: url(./img/Barrios-de-Venecia.jpg) center/cover no-repeat fixed;
}

header {
    background-color: #fff;
}

.content {
    background-color: aliceblue;
}

.text-content{
    text-align: center;
}

.text-color {
    color: rgb(173, 149, 41);
}

.image {
    width: 450px;
    border-radius: 5%;
    align-items: center;
}

.hero-section {
    background: url(./img/Barrios-de-Venecia.jpg) center/cover no-repeat;
    height: 100vh;
    position: relative;
}

.hero-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

footer {
    background-color: #fff;
    text-decoration: none;
}

footer .fab {
    transition: color 0.3s;
}

footer .list-unstyled {
    padding-left: 0;
}

footer .list-unstyled li {
    margin-bottom: 10px;
}

footer .text-uppercase {
    font-weight: bold;
}

footer .py-4 {
    padding: 3rem 0;
}

.padd{
    margin-left: 25px;
}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .hero-section {
        height: 60vh;
    }

    .featurette-heading {
        font-size: 1.5rem;
    }

    .lead {
        font-size: 1rem;
    }
}
