:root {
  --principal-one: #FFFCEF;
  --secon-one: #D2EBCD;
  --third-one: #FF7F5B;
  --four-one: #393939;
}

body {
  margin: 0 auto;
  max-height: 100vh;
  color: var(--secon-one); 
  background-color: var(--four-one);
}

.helink{
  color: var(--third-one);
}

.botonlink{
  color: var(--secon-one);
  background-color: var(--third-one);
  border-color: var(--third-one);
}

.mainCenter {
  margin: 0 auto;
  padding-top: 10%;
  padding-bottom: 8%;
  max-width: 60%;
}

h2{
  padding: 15px;
}

.blog{
  margin: 0 auto;
  width: 75%;
}

.artsobre{
  padding-top: 25px;
}

/* zona responsive */

@media (max-width: 768px) {
  .mainCenter {
    max-width: 80%;
    padding-top: 20%;
  }

  header .inner {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 576px) {
  .mainCenter {
    max-width: 90%;
    padding-top: 30%;
  }
}


